<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to ASCII</title>
    <link rel = "stylesheet" href="../static/index.css">
</head>
<body>
    <div id="stars">
    <form action="/convert" method="post">
        <input type="text" placeholder="URL da Imagem" id="imageURL" name="imageURL" required>
        <button type="submit">Converter</button>
    </form>
    </div>
    <script src="../static/space.js"></script>
    </body>
</html>


